body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: black
}

.form {
  max-width: 50rem;
  /* margin: 0 auto; */
  margin-left: 50px;
}

.form div {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  display: block;
}
.form h1, h3   {
  color: #ffffff;
}
.form a :hover {
  color: #f0c040
}
.loginBack {
  height: 90vh;
  display: flex;
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%),url("../public/images/bank12.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  
}
.home-main {
  /* width: 100%; */
  height: 90vh;
  
  
  position: relative;
  overflow: hidden; 
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%),url("../public/images/bank12.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body>* {
  margin-bottom: 0.5rem;
}
.container {
  margin-left: 100px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
